.cart__container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 2rem;
}
.cart__item-container {
  border: 1px solid rgba(0, 0, 0, 0.3);
  gap: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  max-width: 75ch;
}
.cart-item__item-container {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 1rem;
}
.cart-item {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
}
.cart-item__text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart-item__right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-item__product-desc {
  max-width: 75ch;
}
.cart-item__item-img {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.cart-item__btn-container {
  align-self: end;
  display: flex;
  gap: 0.5rem;
}
.cart-item__item-img {
  max-width: 12rem;
  align-self: start;
}
.cart-item__delete-btn {
  align-self: end;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.cart-item__no-items-heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}
.cart-item__delete-btn:hover {
  transform: scale(1.1);
}

.cart-item__delete-img {
  width: 1.5rem;
}
.cart-item__heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item__btn-container button {
  width: 2rem;
  height: 2rem;
}
.cart-item__text-input {
  text-align: center;
  font-weight: bold;
  width: 3rem;
  height: 2rem;
  border-radius: 0.5rem;
}
.cart-item__plus-btn,
.cart-item__minus-btn {
  background-color: rgba(0, 150, 200, 1);
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.7rem;
  text-align: center;
  cursor: pointer;
}
.cart-items__checkout-container {
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  min-width: 500px;
  top: 8rem;
  position: sticky;
}
.cart-items__checkout-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-price__price {
  font-weight: bold;
}
.cart-items__price-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-items__total-container {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-items__checkout-btn {
  display: flex;
  align-self: center;
  justify-self: center;
  min-width: 200px;
  min-height: 40px;
  border-radius: 0.5rem;
  border: none;
  background-color: rgba(0, 150, 200, 1);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.cart-items__checkout-btn:hover {
  transform: scale(1.03);
}
@media screen and (max-width: 768px) {
  .cart__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    padding: 1rem;
  }
  .cart-item__product-desc {
    display: none;
  }
  .cart-item__product-title {
    display: none;
  }
  .cart-item__heading-container {
    justify-content: end;
  }
  .cart__item-container {
    gap: 1rem;
    padding: 1rem;
  }
  .cart-item__item-img {
    max-width: 7rem;
  }
  .cart-items__checkout-container {
    padding: 1rem;
    position: static;
  }
  .cart-items__checkout-btn {
    align-self: center;
    justify-self: center;
  }
  .cart-items__checkout-container {
    min-width: 0;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart-items__checkout-heading,
  .cart-items__price-container,
  .cart-items__checkout-price,
  .cart-items__total-container {
    min-width: 0;
    width: 300px;
  }
}
