.error__container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}
.error__message {
  font-weight: 600;
  padding-top: 2rem;
  font-size: 1.5rem;
}
.error__home-router-link {
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 100, 230, 0.9);
}

.error__home-router-link:visited {
  color: rgba(0, 100, 230, 0.9);
}
