/* 
 * Background From: 
 * https://in.pinterest.com/pin-builder/?url=https%3A%2F%2Fwww.refinery29.com%2Fen-us%2F2022%2F12%2F11234078%2Fluar-ana-box-bag%3Futm_source%3Dpinterest%26utm_medium%3Dpinterest_share&media=http%3A%2F%2Fwww.refinery29.com%2Fimages%2F11234357.jpg&description=How+Luar%E2%80%99s+Ana+Bag+Won+2022%2B%23refinery29&method=button 
 *
 * Design From:
 * https://www.magnific.com/free-photos-vectors/shopping-website
 *
 * Button Design From:
 * https://getcssscan.com/css-buttons-examples
 * */
@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

.home__container {
  width: 100vw;
  height: calc(100vh - 100px);
  background-image: url(../assets/model-with-bag.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.home__heading-container {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__heading-new-arrivals {
  font-weight: 300;
  align-self: end;
}
.home__heading-just-for-container {
  font-weight: 400;
  font-size: 4rem;
  line-height: 1.3;
}
.home__heading-just,
.home__heading-for {
  font-family: "Boldonse", sans-serif;
}
.home__heading-you {
  line-height: 0;
  margin-top: -40px;
  font-weight: 700;
  font-size: 15rem;
  color: yellow;
  transform: rotateZ(-25deg);
  font-family: "Lavishly Yours", sans-serif;
}

.home__products-link {
  font-size: 1.5rem;
  font-weight: 800;
  text-decoration: none;
  margin-right: 5rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.home__products-link:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.home__products-link:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  left: 0;
  top: 0;
  border-radius: 10px;
}
